body {
    background-color: #00ffcc;
    font-family: sans-serif;
}

.quiz-container {
    background-color: #c5fff2;
    border: 1px solid #000000;
    margin: 50px auto;
    padding: 20px;
    width: 600px;
}

h1 {
    color: #000000;
    margin-top: 0;
    text-align: center;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    color: #444;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 1px 1px #ddd;
}

fieldset p {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
}

label {
    color: #444;
    display: block;
    margin-bottom: 5px;
    text-shadow: 1px 1px #ddd;
}

input[type="radio"] {
    margin-right: 5px;
}

#bottomBar input[type="button"]{
    background-color: #0c78fb;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

#bottomBar {
    display: inline-flex;
    padding: 10px;
    margin-left: 100px;
}

#bottomBar input[type="button"]:hover {
    background-color: #88a5be;
    transition: 0.3s;
    padding-top: 8px;
    box-shadow: 0px 5px 5px -3px #000000;
}
#bottomBar div {
    padding: 10px;
}

.result {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.result h2 {
    color: #444;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    text-shadow: 1px 1px #ffffff;
}

.result p {
    color: #666;
    font-size: 18px;
    margin-top: 0;
}

.result p span {
    color: #479dff;
    font-weight: bold;
}

#progress div{
    background-color : red;
    display: inline-flex;
    padding: 10px;
}