@import url("typography.css");
@import url("layout.css");
@import url("responsive.css");
@import url("form.css");

body {
    background-color: #010b25;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    margin: 0;
}
