.quiz-container {
    margin: 20px;
    padding: 10px;
    background-color: #f5f5f5;
}

.quiz-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.quiz-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #7695dd;
    border: none;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

.quiz-button:hover {
    background-color: #b7c6e9;
    color: #333333;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}