body {
    background-color: #010b25;
    font-family: 'Merriweather', serif;
    height: 100%;
    margin: 0;
}

.quiz-container {
    background-color: #05a89d;
    border: 4px solid #ffdd00;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 20px;
    max-width: 1200px;
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

h1 {
    color: #021c50;
    margin-top: 0;
    text-align: center;
    font-size: 4rem;
    font-family: 'Merriweather', serif;
    text-shadow: 1px 1px #ffffff;
}

fieldset {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    border: 2px solid #ffdd00;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.62);
    max-width: 1000px;
}

fieldset legend {
    color: #ffdd00;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px #000000;
    font-family: 'Merriweather', serif;
}

fieldset p {
    color: #000000;
    text-shadow: 1px 1px #ffffff;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 5px;
    font-family: 'Merriweather', serif;
}

label {
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    text-shadow: 2px 2px #000000;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.question-image {
    float: right;
    margin-left: 20px;
    max-width: 400px;
    border: 2px solid #333;
    border-radius: 5px;
}

.question-counter {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

input[type="radio"] {
    margin-right: 5px;
}

#bottomBar {
    display: block;
    text-align: center;
    padding: 10px;
}

#bottomBar input[type="button"] {
    background-color: #021c50;
    border: 1px solid #000000;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 20px;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px #000000;
}

#bottomBar input[type="button"]:hover {
    background-color: #4d8b96;
    transition: 0.3s;
    padding-top: 18px;
    box-shadow: 0 5px 5px -3px #000000;
}

#bottomBar div {
    display: inline-block;
    padding: 10px;
}

.result {
    background-color: #000000;
    border: 4px solid #ffdd00;
    padding: 50px;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display: block;
}

.result h2 {
    color: #444;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    text-shadow: 1px 1px #ffffff;
    grid-row: 1;
}

.result p {
    color: #666;
    font-size: 18px;
    margin-top: 0;
}

.result p span {
    color: #479dff;
    font-weight: bold;
}

#progress {
    margin-top: 50px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

#progress div {
    background-color: #9f9f9f;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    border-style: double;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}
